* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --light: #f6f6f9;
    --primary: #1976D2;
    --grey: #eee;
    --success: #300E3C;
}

.btn{
    cursor: pointer;
}

svg{
    background: white;
}

.fa-solid {
    font-size: 1.7rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    overflow-x: hidden;
}

body.dark {
    --light: #181a1e;
    --dark: #fbfbfb;
}

body {
    background: var(--grey);
    overflow-x: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--light);
    width: 230px;
    height: 100%;
    overflow-x: hidden;
    scrollbar-width: none;
    z-index: 3000;
    transition: all 0.3s ease;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar .close {
    width: 60px;
}

.sidebar .logo {
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    color: var(--primary);
    align-items: center;
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
    text-decoration: none;
}

.sidebar .logo .logo-name span {
    color: var(--dark);
}

.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
    opacity: unset;
}

.sidebar .logo img {
    min-width: 60px;
    display: flex;
    justify-content: center;
    height: 28px;
    width: 40px;
    padding: 4px;

}

.sidebar .side-menu {
    width: 100%;
}

.sidebar .side-menu li {
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

.sidebar .side-menu li.active {
    background-color: var(--grey);
    position: relative;
}

.sidebar .side-menu li.active::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li.active::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
    transition: all 0.3s ease;
    text-decoration: none;
}

.sidebar .side-menu li.active a {
    color: var(--success);
}

.sidebar.close .side-menu li a {
    width: calc(48px - (4px * 2));
    transition: all 0.3s ease;
}

.sidebar .side-menu li a .fa-solid {
    min-width: calc(60px - ((4px + 6px)* 2));
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
}

.sidebar .side-menu li a.logout {
    color: var(--danger);
}

.content {
    position: relative;
    width: calc(100% - 230px);
    left: 230px;
    transition: all 0.3s ease;
}

.sidebar.close~.content {
    width: calc(100% - 60px);
    left: 60px;
}

.content nav {
    height: 56px;
    background: var(--light);
    padding: 0 24px 0 0;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.content nav::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
}

.sidebar.close {
    opacity: unset;
    width: 60px;
}

.icon-menu {
    cursor: pointer;
}

.main{
    margin-top: 1.4rem;
}

main .analyse{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .analyse > div{
    background-color: white;
    padding: 1.8rem;
    border-radius: 2rem;
    margin-top: 1rem;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
    cursor: pointer;
    transition: all 0.3s ease;
}

main .analyse > div:hover{
    box-shadow: none;
}

main .analyse > div .status{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .analyse h3{
    margin-left: 0.6rem;
    font-size: 1rem;
}

main .analyse .progress{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .analyse svg{
    width: 7rem;
    height: 7rem;
}

main .analyse svg circle{
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

main .analyse .sales circle{
    stroke: green;
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .analyse .progress .percentage{
    position: absolute;
    top: -3px;
    left: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}


main .analyse .visits circle{
    stroke: red;
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .analyse .searches circle{
    stroke: yellow;
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main{
    margin: 20px;
}

main .new-users{
    margin-top: 1.3rem;
}

main .new-users .user-list{
    background-color: white;
    padding: 1.8rem;
    border-radius: 2rem;
    margin: 1rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
}

main .new-users .user-list:hover{
    box-shadow: none;
}

main .new-users .user-list .user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .new-users .user-list .user img{
    width: 5rem;
    height: 5rem;
    margin-bottom: 0.4rem;
    border-radius: 50%;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 250px;
    height: 50px;
    background: #F0F2F5;
    border-radius: 20px;
    margin-left: 4px;
    padding: 0 8px;
    overflow: hidden;

}

.search-bar:hover {
    background: #D8DADF;
}

.search-bar input {
    margin-left: 5px;
    width: 100%;
    height: 100%;
    border: none;
    background: none;
}

.search-bar input:focus {
    outline: none;
    border: none;
    background: none;
}

@media only screen and (max-width: 1024px) {
    .search-bar {
        min-width: 150px;
        height: 40px;
    }
}

#all_gender, #delete_user{
    width: 110px;
    margin: 0px 20px 0px 0px;
    border: 1px solid #aaa;
    padding: 10px 0px 0px 10px;
    border-radius: 5px;
}

select{
    width: 125px;
    background: none;
    height: 35px;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 15px;
    margin: 10px 15px 5px 0px;
}