*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.navbar{
    background-color: #fff;
    height: 80px;
    margin: 10px;
    border-radius: 16px;
    padding: 0.5rem;
}

.navbar-brand{
    font-weight: 500;
    color: #009970;
    font-size: 24px;
    transition: 0.3s color;
}

.login-button, .register-button{
    background-color: #009970;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s #009980;
}

.login-button:hover{
    background-color: #00b383;
}

.register-button{
    background-color: black;
    color: white;
}

.register-button:hover{
    background-color: #000000c9;
    color: white;
}


.navbar-toggler{
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active{
    color: #000;
}

@media only screen and (min-width:991px) {
    .navbar.dragged {
        margin: 0; /* Thay đổi margin thành 0px khi trang được kéo xuống */
        border-radius: 0;
    }
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #009970;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    
    .nav-link:hover::before, .nav-link.active::before{
        width: 100%;
        visibility: visible;
    }
}

.bg-section{
    background: url(img/bg-header.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.bg-section::before{
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.bg-section .container{
    height: 100vh;
    z-index: 1;
    position: relative;
}

/* Section */
/* Travel Guide */
.swiper-button-prev, .swiper-button-next{
    padding: 20px;
    background-color: #fff;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    top: var(--swiper-navigation-top-offset, 55%);
}

.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 15px;
    font-weight: 700;
}

.swiper-button-next {
    right: var(--swiper-navigation-sides-offset, 40px);
}

.card, .img_box{
    cursor: pointer;
}

@media only screen and (max-width:1024px) {
    .img_guide{
        width: 200px;
    }
}

@media (max-width: 576px) {
    .img_box {
        display: flex;
        justify-content: center;
    }
    div .search-box{
        width: 350px;
    }
}

/* Search */
.search-box{
    width: 600px;
    background: #fff;
    margin: 50px auto 0;
    border-radius: 5px;
}

.row-search{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

input{
    flex: 1;
    height: 50px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333;
}

.result-box ul{
    border-top: 1px solid #999;
    padding: 15px 10px;
}

.result-box ul li{
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
    font-size: 15px;
}

.result-box ul li:hover{
    background: #e9f3ff;
}

.result-box {
    max-height: 300px;
    overflow-y: scroll;
}

/* Footer */
.w3l-footer-29-main {
    background: #f5f6f8 ;
    display: flex;
    justify-content: space-between; /* Phân phối khoảng cách giữa các phần tử */
    align-items: center; /* Căn giữa các phần tử theo chiều dọc */
}


.footer-29 {
    width: 100%; 
}

.footer-top-29 {
    display: flex;
    justify-content: space-between; /* Phân phối khoảng cách giữa các phần tử con */
    align-items: center; /* Căn giữa các phần tử con theo chiều dọc */
}

.footer-list-29 {
    flex: 1; /* Chiếm toàn bộ không gian có sẵn ở góc trái */
}

.main-social-footer-29 {
    flex: 1; /* Chiếm toàn bộ không gian có sẵn ở góc phải */
    text-align: right; /* Căn phải nội dung */
    padding-bottom: 30px;
}

.footer-logo img {
    max-width: 100%; /* Đảm bảo logo không vượt quá kích thước của phần tử chứa */
}

.main-social-footer-29 a {
    margin-left: 10px; /* Khoảng cách giữa các liên kết mạng xã hội */
}

.main-social-footer-29 h5 {
    margin-bottom: 10px; /* Khoảng cách giữa tiêu đề và các liên kết */
}

.main-social-footer-29 a {
    margin-right: 10px;
    color: black;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    background: white;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 6px;
    transition: 0.3s;
  }
  
  a {
    text-decoration: none;
  }
  
  .w3l-copyright {
    padding: 1.2em 0;
    border-top: 1px solid #fff;
    background: #f5f6f8;
  }
  
  .w3l-copyright p.copy-footer-29 {
    align-self: center;
    color: black;
    font-size: 17px;
  }
  
  .w3l-copyright .copy-footer-29 a {
    color: #009970;
  }
  
  .w3l-copyright .copy-footer-29 a:hover {
    color: #009980;
  }

  .w3l-footer-29-main .footer-list-29 ul li a, .w3l-footer-29-main .footer-list-29 ul li p, .w3l-copyright .footer-list-29 ul li a {
    font-size: 17px;
    line-height: 26px;
    color: black;
}

.backToTop {
    width: 50px;
    height: 50px;
    background: #009970;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #fff;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #009970;
    visibility: hidden;
    opacity: 0;
}

.backToTop:hover {
    color: grey;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

@media only screen and (max-width: 1024px){
    .logo-bzk{
        width: 100px;
        height: 100px;
    }
    .footer-list-29 {
        flex: none; /* Chiếm toàn bộ không gian có sẵn ở góc trái */
    }
    .w3l-copyright .footer-list-29 ul li a{
        font-size: 16px;
    }
    .w3l-copyright .footer-list-29 ul{
        flex-direction: column;
        padding: 0;
    }
    .main-social-footer-29 h5 {
        font-size: 18px;
    }
}

.footer-list-29 ul li{
    list-style: none;
}
